APP_HOST='http://localhost'
APP_PORT=8080

# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN=''

# Our Auth0 API's Identifier.
AUTH0_AUDIENCE='http://localhost:8080'

AUTH0_CLIENTID=''
AUTH0_CLIENTSECRET=''

# https://dev-na6a4vli4rzn35rr.us.auth0.com/.well-known/jwks.json
# https://dev-na6a4vli4rzn35rr.us.auth0.com/pem
AUTH0_SECRET=""
